***1.1 How many houses are included in the measurement study? Are there any mal-
functioning meters? If so, identify them and the time periods where they were
malfunctioning.***

In [2]:
import pandas as pd
import numpy as np
import os
import math
from dateutil.parser import parse
import datetime


polling_freq = datetime.timedelta(seconds = 15)

f = lambda s: datetime.datetime.strptime(s,'%Y-%m-%d-%H-%M-%S')

In [10]:
 df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
   ...:                    ('bird', 'Psittaciformes', 24.0),
   ...:                    ('mammal', 'Carnivora', 80.2),
   ...:                    ('mammal', 'Primates', np.nan),
   ...:                    ('mammal', 'Carnivora', 58)],
   ...:                   index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
   ...:                   columns=('class', 'order', 'max_speed'))
   ...: 
grouped = df.groupby(['class', 'order'])
print(df)
print(grouped.groups)

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0
{('bird', 'Psittaciformes'): Index([u'parrot'], dtype='object'), ('mammal', 'Primates'): Index([u'monkey'], dtype='object'), ('mammal', 'Carnivora'): Index([u'lion', u'leopard'], dtype='object'), ('bird', 'Falconiformes'): Index([u'falcon'], dtype='object')}

In [23]:
df = pd.read_csv("data.csv")

In [ ]:
df2 = df[df.dataid==739]

In [87]:
df5=df['localminute'][:5]
print(df5)
df6=map(lambda x: parse(x).timetz(), df5)
print(np.unique(df6))
print (datetime.datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S.%f')[:-3])
print (datetime.datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S.%f'))

0    2015-10-01 00:00:10-05
1    2015-10-01 00:00:13-05
2    2015-10-01 00:00:20-05
3    2015-10-01 00:00:22-05
4    2015-10-01 00:00:22-05
Name: localminute, dtype: object
[datetime.time(0, 0, 10, tzinfo=tzoffset(None, -18000))
 datetime.time(0, 0, 13, tzinfo=tzoffset(None, -18000))
 datetime.time(0, 0, 20, tzinfo=tzoffset(None, -18000))
 datetime.time(0, 0, 22, tzinfo=tzoffset(None, -18000))]
2019-10-19 14:17:26.154
2019-10-19 14:17:26.154339

In [51]:
print("no of unique houses: {}".format(np.unique(df.dataid).shape[0]))

uniqueHouses=np.unique(df.dataid)
df3=df.sort_values(['localminute','dataid'],ascending=[True,True])

anomTotal=0

for meterID in uniqueHouses[:2]:
    df3=df[df.dataid==meterID]
    df3=df3.sort_values(['localminute'],ascending=[True])
    print(df3[:10])
    df3_diff=df3.set_index('localminute').diff()
    print(df3_diff[:10])
    anomalyNo=df3_diff[df3_diff.meter_value<2 ].shape[0]
    anomTotal=anomTotal+anomalyNo
    print("meterID: {} \t anomalies: {}".format(meterID, anomalyNo))
    days_time = list(set(list(map(lambda x: parse(x).date(), df3['localminute']))))
    print(days_time[0])
print("total anomalies: {}".format(anomTotal))

no of unique houses: 157
                 localminute  dataid  meter_value
83    2015-10-01 00:14:44-05      35        93470
244   2015-10-01 00:42:34-05      35        93470
723   2015-10-01 02:02:37-05      35        93470
790   2015-10-01 02:12:38-05      35        93470
829   2015-10-01 02:20:36-05      35        93470
852   2015-10-01 02:23:39-05      35        93470
1418  2015-10-01 03:59:41-05      35        93470
1588  2015-10-01 04:30:40-05      35        93470
1615  2015-10-01 04:34:37-05      35        93470
1842  2015-10-01 05:14:35-05      35        93470
                        dataid  meter_value
localminute
2015-10-01 00:14:44-05     NaN          NaN
2015-10-01 00:42:34-05     0.0          0.0
2015-10-01 02:02:37-05     0.0          0.0
2015-10-01 02:12:38-05     0.0          0.0
2015-10-01 02:20:36-05     0.0          0.0
2015-10-01 02:23:39-05     0.0          0.0
2015-10-01 03:59:41-05     0.0          0.0
2015-10-01 04:30:40-05     0.0          0.0
2015-10-01 04:34:37-05     0.0          0.0
2015-10-01 05:14:35-05     0.0          0.0
meterID: 35 	 anomalies: 9668
2015-10-24
                   localminute  dataid  meter_value
101655  2015-10-12 18:33:44-05      44       165674
101812  2015-10-12 18:57:14-05      44       165674
102105  2015-10-12 19:41:09-05      44       165674
102828  2015-10-12 21:38:11-05      44       165684
103522  2015-10-12 23:31:45-05      44       165686
104060  2015-10-13 00:58:07-05      44       165686
104291  2015-10-13 01:35:49-05      44       165686
104441  2015-10-13 01:59:08-05      44       165686
104571  2015-10-13 02:19:42-05      44       165686
104838  2015-10-13 03:01:11-05      44       165686
                        dataid  meter_value
localminute
2015-10-12 18:33:44-05     NaN          NaN
2015-10-12 18:57:14-05     0.0          0.0
2015-10-12 19:41:09-05     0.0          0.0
2015-10-12 21:38:11-05     0.0         10.0
2015-10-12 23:31:45-05     0.0          2.0
2015-10-13 00:58:07-05     0.0          0.0
2015-10-13 01:35:49-05     0.0          0.0
2015-10-13 01:59:08-05     0.0          0.0
2015-10-13 02:19:42-05     0.0          0.0
2015-10-13 03:01:11-05     0.0          0.0
meterID: 44 	 anomalies: 1109
2015-10-24
total anomalies: 10777

<type 'dict'>